.DS_Store
__pycache__/
.env
venv
sketch-ds
test-img
test
.gitlab-ci.yml
.gitignore
.git
.idea
src/deployment/logs
src/data-process
src/deployment/model_store/drawclassifier.mar
src/deployment/mobile_net_scripted.pt
src/training
src/utils
